<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PykLocal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5EC85F51D2AB84500C3FB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5EC860E1D2AB84500C3FB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5EC86191D2AB84500C3FB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
